h1 {
  font-weight: bolder;
}

.App {
  text-align: center;
}

.container-fluid {

}

.footer {
  position: relative;
  background-repeat: no-repeat;
}

.appName {
  font-family: 'Caveat', cursive;
}

.form-style {
  text-align: left;
  width: 70%;
  display: inline-block;
}

.move-input {
  padding-left: 0;
}

.pet-button {
  margin: 2%;
}

.headspace {
  margin-top: 2%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
